@import "@nativescript/theme/scss/variables/blue";

// Custom styles
.cars-list {
  &__item {
    padding: 0 0 8 0;
    @include colorize($background-color: background-alt-10);

    &-content {
      padding: 8 15 4 15;
      @include colorize($background-color: background);
    }

    &-name,
    &-icon {
      @include colorize($contrasted-color: complementary background 30% 0%);
    }
  }
}
.fab-button {
  height: 70;
  width: 70;
  margin: 15;
  color: #ffffff;
  background-color: #22247a;
  horizontal-align: right;
  vertical-align: bottom;
}

.fab-button-small {
  height: 55;
  width: 55;
  margin: 15;
  color: #ffffff;
  background-color: #332d8a;
  horizontal-align: right;
  vertical-align: bottom;
}
